name: fluttermodule
description: A new Flutter module.

version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true


































  
  
  
  
  
  
  module:
    androidX: true
    androidPackage: com.example.fluttermodule
    iosBundleIdentifier: com.example.fluttermodule
